<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
    <nav class="language-switcher mt-3 text-center"> 
      <a href="{{ site.baseurl }} /" class="text-dark">
        <img src="{{ '/assets/img/fr.png' | relative_url }}" alt="French" style="width: 40px; height: auto;">
      </a>
    </nav>

 
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo py-3" src="{{ "/assets/img/logo-gaia.png" | relative_url}}" alt="Gaia"></a>

        <ul>
          <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/en/principes/" | relative_url}}" class="text-center btn btn-outline">Principle</a></li>
          <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/en/sia2025/" | relative_url}}" class="text-center btn btn-outline">SIA 2025</a></li>
          <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/en/public_datas/" | relative_url}}" class="text-center btn btn-outline">Data</a></li>
          <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/en/outils/" | relative_url}}" class="text-center btn btn-outline">Tools</a></li>
          <li class="d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/en/sia2024/" | relative_url}}" class="text-center btn btn-outline">SIA 2024</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
