<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v2.0.0/modern-normalize.min.css" rel="stylesheet">
  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
    <nav class="language-switcher mt-3 text-center"> 
      <a href="{{ site.baseurl }}/en/" class="text-dark">
        <img src="{{ '/assets/img/gb.png' | relative_url }}" alt="" style="width: 35px; height: auto;">
      </a>
    </nav>
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo py-3" src="{{ "/assets/img/logo-gaia.png" | relative_url}}" alt="Gaia"></a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ "/principes/" | relative_url}}">Principes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ "/public_datas/" | relative_url}}">Données</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ "/outils/" | relative_url}}">Outils</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hackathons
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ "/te2025/" | relative_url}}">Tech Elevage 2025</a></li>
                    <li><a class="dropdown-item" href="{{ "/space2025/" | relative_url}}">SPACE 2025</a></li>
                    <li><a class="dropdown-item" href="{{ "/sara2025/" | relative_url}}">SARA 2025</a></li>
                    <li><a class="dropdown-item" href="{{ "/sia2025/" | relative_url}}">SIA 2025</a></li>
                    <li><a class="dropdown-item" href="{{ "/ta2024/" | relative_url}}">Tech Elevage 2024</a></li>
                    <li><a class="dropdown-item" href="{{ "/sia2024/" | relative_url}}">SIA 2024</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
  </div>
</body>
</html>
