<div class="">
    <div class="org-include" id="include-{{ include.id }}">
      <span class="no-matches">No matches.</span>

      {% assign columns = 3 %}
      {% for type_hash in include.orgs %}
        {% assign slug = type_hash[0] | downcase | replace: ' ','-' | replace: '.','' %}
        <div class="org-type clearfix" id="type-{{ include.id }}-{{ slug }}">

          <div class="orgs">
            {% for org in type_hash[1] %}
              {% assign column_number = forloop.index0 | modulo:columns %}
              {% if column_number == 0 %}
                <div class="org-row clearfix gutter">
              {% endif %}

              <div class="col-sm-4 float-left org">
                <div class="border d-block text-center px-2 py-4 mb-4 participant-card">
                  {% if org.img %}
                    <img class="avatar" src="{{ org.img }}" height="75px"/>
                  {% endif %}
                  {% if page.lang == 'fr' %}
                    <h2 class="alt-h3 mb-2">
                    {% octicon hubot height:28 class:"fill-blue d-inline mr-2" aria-label:server %}
                    {{ org.name }}
                  </h2>
                    {% for keyword in org.keywords %}
                      <span class="badge bg-success">{{ keyword }}</span>
                    {% endfor %}
                    <div class="org-description">{{ org.description }}</div>
                    <div class="accordion" id="accordion{{ org.name }}">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ org.name }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ org.name }}" aria-expanded="false" aria-controls="collapse{{ org.name }}">
                            Besoins
                          </button>
                        </h2>
                        <div id="collapse{{ org.name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ org.name }}" data-bs-parent="#accordion{{ org.name }}">
                          <div class="accordion-body">
                            <ul class="list-group">
                              {% for need in org.needs %}
                                <li class="list-group-item">{{ need }}</li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>  
                  {% elsif page.lang == 'en' %}
                    <div class="org-name"><b>{{ org.en_name }}</b></div>
                  {% endif %}
                </div>
              </div><!-- col-sm-4 float-left org -->

              {% if column_number == 2 %}
                </div><!-- org-row clearfix gutter -->
              {% endif %}
            {% endfor %}<!-- loop orgs -->

            {% if column_number != 2 %}
              </div><!-- org-row clearfix gutter -->
            {% endif %}
          </div><!-- orgs -->
        </div><!-- org-type -->
      {% endfor %}
    </div> <!-- org-include -->
  </div> <!-- mini-section -->
